@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the fourth task</h1>
    <h2>Список таблиц в базе данных:</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">События</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Работники</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="EventPlan" asp-action="Index">Планируемые события</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Organization" asp-action="Index">Организации</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Source" asp-action="Index">Источники</a>
</div>
