@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Список таблиц:</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Table" asp-action="GetEmployees">Работники</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Table" asp-action="GetEvents">События</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Table" asp-action="GetOrganizations">Организации</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Table" asp-action="GetEventPlans">Планы событий</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Table" asp-action="GetSources">Источники</a>
</div>
